<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kpet.mapper.AdminMapper">

	<select id="adminLogin" resultType="com.kpet.domain.AdminVO">
	
		SELECT 
			ad_id, 
			ad_pw, 
			ad_name, 
			ad_lastlogin 
		FROM 
			admin_tbl 
		WHERE ad_id = #{ad_id}
	
	</select>
	
	<insert id="adminRegister">
	
		INSERT INTO
			admin_tbl(ad_id, ad_pw, ad_name, ad_position)
		VALUES
			(#{ad_id},#{ad_pw},#{ad_name},#{ad_position})
	
	</insert>
	
	<select id="getAdminList" resultType="com.kpet.domain.AdminVO">
		SELECT
			/*+ index_desc(admin_tbl pk_admin_tbl) */
			ad_id, 
			ad_pw, 
			ad_name,
			ad_position,
			ad_lastlogin 
		FROM 
			admin_tbl 
	</select>
	
	<select id="getAdminTotalCount" resultType="int">
		
		SELECT 
			count(*) 
		FROM 
			admin_tbl 
			
	</select>
	
	<delete id="adDelete">
		
		DELETE
		
		FROM 
			admin_tbl
		WHERE
			ad_id = #{ad_id}
		
	</delete>

	<update id="adPosition_modify">
	
		UPDATE
			admin_tbl
		SET
			ad_position = #{ad_position}
		WHERE
			ad_id = #{ad_id}
	</update>

</mapper>  